/* Page Products*/
.products {
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    display: flex;
    flex-flow: row;
    justify-content: center;

    gap: 20px;
}

.filters {
    margin-top: 30px;
    width: clamp(150px, 200px, 350px);
    height: min-content;
}
.container__filters{
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 5px;
}
.container__filters p{
    font-weight: 800;
    margin-left: 10px;
}
.container__filters label {
    display: flex;
    flex-flow: row nowrap;
}
.container__filters label p{
    font-weight: 200;
}
.product {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    width: clamp(250px, 60vw, 850px);
    height: min-content;
    margin-top: 30px;
}

/*Componentes product*/
.card__product {
    display: flex;
    padding: 10px;
    flex-flow: row nowrap;
    gap: 25px;
    border: 1px solid var(--background-border);
}
.card__product:hover{
    border: 1px solid var(--background-border-hover);
}

.product__img {
    width: 250px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.product__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/*Card styles*/
.title {
    font-size: 1.2rem;
    width: 300px;
}
.title a{
    color: var(--color);
    text-decoration: none;
}

.price {
    font-size: 1.9rem;
}

.category {
    font-size: 1.4rem;
    margin-top: 5px;
    color: #c4c1c1;
}

.rate {
    font-size: 1rem;
    margin-top: 10px;   
}

.count {
    font-size: 1rem;
    margin-top: 5px;
}
.container__button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.button {
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: yellow;
    color: var(--color-basic);
    cursor: pointer;
}
.button:hover{
    background-color: rgb(238, 238, 63);
}

.button__delate{
    width: fit-content;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(155, 66, 66);
    color: var(--color-one);
    cursor: pointer;
}
.button__delate:hover{
    background-color: rgb(212, 66, 66);
}
.inputRange{
    display: flex;
    flex-flow: column nowrap;
}
.precio{
    font-weight: 700;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.precio_des{
    font-size: 1rem;
    text-align: center;
    white-space:  pre-wrap;
}
/*Boton Dark mode*/
.button__darkMode{
    height: fit-content;
    display: flex;
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 1.5rem;
    background-color: var(--background-color);
    color: var(--color);
}
/*Responsive*/
@media screen and (max-width: 800px) {
    .products {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;  
    } 
    .card__product {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
    }

    .product {
        width: clamp(250px, 90vw, 850px);
    }
    .product__img{
        margin: auto;
    }
    .product__info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}