/*Modo claro*/
:root {
  --background-color: #ffffff;
  --background-border: rgb(211, 211, 211);
  --background-border-hover: #bebebeda;
  --color: #000000;
  --color-basic: black;
  --color-one: rgb(255, 255, 255);
  --input:#fff;
}

.darkMode{
  --background-color: #000000;
  --background-border: rgb(70, 69, 69);
  --background-border-hover: #6d6d6dda;
  --color: #f3f3f3;
  --input:#2b2929;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-color);
  color: var(--color); 
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.comenzar{
  position: relative;
  top: 300px;

  font-size: 5rem;
}