/*Modo claro*/
:root {
  --background-color: #c7c3c3;
  --background-one: #fff;
  --color: #000000;
}

/*Modo oscuro*/
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --background-one: #3d3d3d;
    --color: #ffffff;
  }
  html{
    color-scheme: dark;
  }
}
/**/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-color);
  color: var(--color); 
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
